# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python:
  - 3.6


# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
# install: pip install -r requirements.txt

install: pip install -e .

# Command to run tests, e.g. python setup.py test
script: python setup.py test